.main {
  width: 100vw;
  height: 92vh;
  display: flex;

  & .wash {
    width: 50vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
    /* background-color: red; */

    & h1 {
      font-size: 4rem;
      width: 30vw;
      /* background-color: red; */
    }

    & .parrafo {
      width: 30vw;
      font-size: 20px;
      /* background-color: blue; */
    }

    & .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      height: 3rem;
      width: 30rem;
      /* background-color: red; */

      & .azul {
        background-color: #155dfc;
        border-radius: 8px;
        color: white;
        font-size: 18px;
        width: 10rem;
        height: 2.5rem;
        border: none;
        transition: all .2s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: #1447e6;
        }
      }

      & .blanco {
        border-radius: 8px;
        font-size: 18px;
        background-color: white;
        border: 1px solid #e7dfdf;
        width: 10rem;
        height: 2.5rem;
        transition: all .2s ease-in-out;
         &:hover {
          cursor: pointer;
          background-color: #f5f5f5;
        }
      }
    }

    & .lavados {
      /* background-color: red; */
      display: flex;
      height: 4rem;
      gap: 1rem;

      & .uno {
        display: flex;
        align-items: center;

        &.textos {
          display: flex;
        }
      }
    }
  }

  & .car {
    width: 50vw;
    height: 84vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

    & .carImageContainer {
      border-radius: 1rem;
      width: 40rem;
    }
  }
}
